{% extends 'base.html' %}

{% block title %}Modos de Jogo - BrawlDicasDay{% endblock %}

{% block content %}
    <h2>Modos de Jogo</h2>
    <div class="modos-container">
        <div class="modo-card">
            <h3>Pique-Gema</h3>
            <p>Colete e segure 10 gemas até o final da contagem regressiva.</p>
        </div>

        <div class="modo-card">
            <h3>Combate</h3>
            <p>Modo battle royale, onde apenas o último sobrevivente vence.</p>
        </div>

        <div class="modo-card">
            <h3>Fute-Brawl</h3>
            <p>Marque gols no time adversário em um jogo de futebol explosivo!</p>
        </div>
    </div>
{% endblock %}
